1.	Patient Referral and Scheduling
      Outside doctors can sign into a web portal 
      Outside doctor can create a patient referral for imaging services.
      Patient receives and email when a referral is placed, linking them to scheduling.
      Outside doctors can see status of existing referrals.
      
2.	Check in and patient prep
      Patient (or front desk) will fill out intake forms to complete medical history
      Front desk should be able to reschedule as needed at this point.
      Front desk can decide what type of appointment/imaging is needed. 
      Imaging tech should be notified when a patient is waiting for them.
      
3.	Image capture and storage
    Imaging tech should be able to upload image(s) to patient file.
    Allow for files to be labeled based on what it is of.
    
4.	Radiologist analysis and reporting
    Radiologist should be notified when a new patient/image is available for review.
    Radiologist should see a screen where they can access all images as well as other patient history/details or download dicom if applicable.
    Radiologist should have a way to attach a voice report for the office to transcribe.
    Transcriber should be alerted that a new transcription is needed.
    Transcriber should be able to download audio for playback.
    Transcriber should have a way to enter the transcribed report.
    Radiologist should be notified when transcription is complete.
    Radiologist should be able to sign off on transcribed reports or make edits.
    
5.	Patient history and exam status
    Radiologist should be able to view patient history within the office and their exam/imaging status
    View past medical, drug, family, surgical, and other history
    View diagnostic tests.
    
6.	Results portal
    Doctor (and patient if needed) should be notified when a radiology report is approved.
    Doctor and patient can log in to same web portal to see results.
    
7.	User access system
    All above should be handled by a system that moderates each users’ access to items they don’t need.
