{% extends 'base/base.html' %}

{% block title %}
    Coming Soon
{% endblock %}

{% block header %}

{% endblock %}

{% block main %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h1 class="display-4">Coming Soon!</h1>
                <p class="lead">
                    XamineRIS is currently under development and will be available soon.
                </p>
                <hr class="my-4">
                <p>{{ message }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}