<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'index' %}"><i class="fas fa-x-ray"></i> XamineRIS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#">Link1</a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#">Link2</a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#">Link3</a>#}
{#                    </li>#}
                    {% if request.user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
                <span class="navbar-text">Logged in as {{ user.get_username }}</span>
            </div>
        </nav>