{% extends 'base/base.html' %}

{% block header %}
    {% load group_auth %}
    <style>
        .orderlink { color: black; }
    </style>

    {{ patient_lookup.media.css }}
{% endblock %}

{% block main %}

    {% if request.user|has_group:"Physicians" or request.user|has_group:"Administrators" %}
        <!-- physician section -->
        <div id="physician_section">
            <form action="{% url 'patient_lookup' %}" method="POST">
                {% csrf_token %}
                <div class="modal fade" id="new_order" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Create New Order</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="text-center">
                                    Please enter patient's date of birth:
                                </div>
                                <label for="id_birth_date" class="font-weight-bold">
                                    Date of Birth:
                                </label>
                                {{ patient_lookup.birth_date }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Search Patients</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="container mt-1">
                <div class="row">
                    <div class="col-12 text-center">
                        <button type="button" data-toggle="modal" data-target="#new_order" class="btn btn-primary btn-sm">
                            Create New Order
                        </button>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 col-md-6 text-center">
                        <div class="mb-3 h5">Active Orders</div>
                        <table class="table table-sm">
                            <thead>
                            <tr>
                                <th>Order #</th>
                                <th>Patient</th>
                                <th>Stage</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in active_orders %}
                                <tr>
                                    <td><a class="orderlink" href="{% url 'order' order_id=order.id %}">{{ order.id }}</a></td>
                                    <td><a class="orderlink" href="{% url 'order' order_id=order.id %}">{{ order.patient.full_name }}</a></td>
                                    <td>{{ order.level.name }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="3" class="text-center text-muted">
                                        No orders
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-12 col-md-6 text-center">
                        <div class="mb-3 h5">Completed Orders</div>
                        <table class="table table-sm">
                            <thead>
                            <tr>
                                <th>Order #</th>
                                <th>Patient</th>
                                <th>Completed</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in complete_orders %}
                                <tr>
                                    <td><a class="orderlink" href="{% url 'order' order_id=order.id %}">{{ order.id }}</a></td>
                                    <td><a class="orderlink" href="{% url 'order' order_id=order.id %}">{{ order.patient.full_name }}</a></td>
                                    <td>{{ order.last_edit|date:'m/d/Y' }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="3" class="text-center text-muted">
                                        No orders
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- end physician section -->
    {% endif %}


    {% if request.user|has_group:"Receptionists" or request.user|has_group:"Administrators" %}
        <!-- receptionist section -->
        <div class="container mt-1" id="reception_section">
            <div class="row mt-3">
                <div class="col-12 col-md-6 text-center">
                    <div class="h5">
                        Today's Appointments
                    </div>
                    <div class="text-muted small mb-3">
                        {% now "DATE_FORMAT" %}
                    </div>
                    <table class="table table-sm">
                        <thead>
                        <tr>
                            <th>Order #</th>
                            <th>Patient</th>
                            <th>Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in todays_orders %}
                            <tr>
                                <td><a class="orderlink" href="{% url 'order' order_id=order.id %}">{{ order.id }}</a></td>
                                <td><a class="orderlink" href="{% url 'order' order_id=order.id %}">{{ order.patient.full_name }}</a></td>
                                <td>{{ order.appointment|date:'P' }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="3" class="text-center text-muted">
                                    No orders
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-12 col-md-6 text-center">
                    <div class="h5">Unscheduled Appointments</div>
                    <div class="text-muted small mb-3">Click to Schedule</div>
                    <table class="table table-sm">
                        <thead>
                        <tr>
                            <th>Order #</th>
                            <th>Patient</th>
                            <th>Drafted</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in unsched_orders %}
                            <tr>
                                <td><a class="orderlink" href="{% url 'order' order_id=order.id %}">{{ order.id }}</a></td>
                                <td><a class="orderlink" href="{% url 'order' order_id=order.id %}">{{ order.patient.full_name }}</a></td>
                                <td>{{ order.added_on|date:'m/d/Y' }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="3" class="text-center text-muted">
                                    No orders
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- end receptionist section -->
    {% endif %}

    {% if request.user|has_group:"Technicians" or request.user|has_group:"Administrators" %}
        <!-- imaging/prep section -->
        <div class="container mt-1" id="imaging_section">
            <div class="row mt-3">
                <div class="col-12 text-center">
                    <div class="mb-3 h5">Checked In Patients</div>
                    <table class="table table-sm">
                        <thead>
                        <tr>
                            <th>Order #</th>
                            <th>Patient</th>
                            <th class="d-none d-md-table-cell">Visit Reason</th>
                            <th class="d-none d-md-table-cell">Imaging</th>
                            <th>Modality</th>
                            <th class="d-none d-md-table-cell">Appt</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in checked_in_orders %}
                            <tr>
                                <td><a class="orderlink" href="{% url 'order' order_id=order.id %}">{{ order.id }}</a></td>
                                <td><a class="orderlink" href="{% url 'order' order_id=order.id %}">{{ order.patient.full_name }}</a></td>
                                <td class="d-none d-md-table-cell">{{ order.visit_reason }}</td>
                                <td class="d-none d-md-table-cell">{{ order.imaging_needed }}</td>
                                <td>{{ order.modality }}</td>
                                <td class="d-none d-md-table-cell">{{ order.appointment }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="6" class="text-center text-muted">
                                    No orders
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- end imaging/prep section -->
    {% endif %}


    {% if request.user|has_group:"Radiologists" or request.user|has_group:"Administrators" %}
        <!-- analysis section -->
        <div class="container mt-1" id="analysis_section">
            <div class="row mt-3">
                <div class="col-12 text-center">
                    <div class="mb-3 h5">Awaiting Analysis</div>
                    <table class="table table-sm">
                        <thead>
                        <tr>
                            <th>Order #</th>
                            <th>Patient</th>
                            <th class="d-none d-md-table-cell">Visit Reason</th>
                            <th class="d-none d-md-table-cell">Imaging</th>
                            <th>Modality</th>
                            <th class="d-none d-md-table-cell">Completed</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in radiologist_orders %}
                            <tr>
                                <td>
                                    <a class="orderlink" href="{% url 'order' order_id=order.id %}">
                                        {{ order.id }}
                                    </a>
                                </td>
                                <td>
                                    <a class="orderlink" href="{% url 'order' order_id=order.id %}">
                                        {{ order.patient.full_name }}
                                    </a>
                                </td>
                                <td class="d-none d-md-table-cell">{{ order.visit_reason }}</td>
                                <td>{{ order.imaging_needed }}</td>
                                <td class="d-none d-md-table-cell">{{ order.modality }}</td>
                                <td class="d-none d-md-table-cell">{{ order.last_edit }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="6" class="text-center text-muted">
                                    No orders
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- end analysis section -->
    {% endif %}

{% endblock %}

{% block afterscript %}

    {{ patient_lookup.media.js}}
    <script>
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4'
        });
    </script>
{% endblock %}
