{% extends 'base/base.html' %}

{% block header %}
    {% load group_auth %}
    {% load phone_number %}
    <style>
        .orderlink { 
            color: black;
             }
        label{
            font-weight: bold;
        }
    </style>

{% endblock %}

{% block main %}
<form method="POST">
{% csrf_token %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class='display-4 text-center'>
                New Referral Order
            </div>
        </div>
        <div class="col-12 mt-4">
            <div class='h4 text-center'>
                Patient Info
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-md-3 col-12 mt-2">
                    <div class='font-weight-bold'>
                        Patient Name:
                    </div>
                    {{ patient.full_name }}
                </div>
                <div class="col-md-3 col-12 mt-2">
                    <div class='font-weight-bold'>
                        Date of Birth:
                    </div>
                    {{ patient.birth_date }}
                </div>
                <div class="col-md-3 col-12 mt-2">
                    <div class='font-weight-bold'>
                        Phone Number:
                    </div>
                    {{ patient.phone_number|phone_number }}
                </div>
                <div class="col-md-3 col-12 mt-2">
                    <div class='font-weight-bold'>
                       Email:
                    </div>
                    {{ patient.email_info }}
                </div>
                
            </div>
        </div>
        <div class="col-md-2 col-12 text-md-center mt-2">
            <div class='font-weight-bold'>
                Allergy list:
            </div>
            <ul class="list-unstyled ">
                {% if patient.allergy_xraydye %}
                    <li>X-Ray Dye</li>
                {% endif %}
                {% if patient.allergy_mridye %}
                    <li>MRI Dye</li>
                {% endif %}
                {% if patient.allergy_asthma %}
                    <li>Asthma</li>
                {% endif %}
                {% if patient.allergy_latex %}
                    <li>Latex</li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-12 offset-md-3">
            <div class='font-weight-bold'>
                Patient Notes:
            </div>
            {{ patient.notes }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-4">
            <div class='h4 text-center'>
                Order Info
            </div>
        </div>
        <div class="col-md-4 col-12 mt-2">
            <label for="id_visit_reason">
                Visit Reason: 
            </label>
            {{ new_order_form.visit_reason }}
        </div>
        <div class="col-md-4 col-12 mt-2">
            <label for="id_imaging_needed">
                Imaging Needed:
            </label>
            {{ new_order_form.imaging_needed }}
        </div>
        <div class="col-md-4 col-12 mt-2">
            <label for="id_modality">
                Modality Type: 
            </label>
            {{new_order_form.modality }}
        </div>
        
        <div class="col-12 mt-2">
            <label for="id_notes">
                Order Notes: 
            </label>
            {{new_order_form.notes }}
        </div>
        <div class="col-12 mt-2">
            <button type="submit" class="btn btn-primary">Submit New Order</button>
        </div>
    </div>
</div>

</form>


{% endblock %}

{% block afterscript %}
<script>

</script>

{% endblock %}
