{% extends 'base/base_nonav.html' %}
{% load group_auth %}

{% block header %}
    {% load phone_number %}
    <style>
        .orderlink { color: black; }
    </style>
{% endblock %}

{% block main %}

    <!-- patient info section -->
    <div id="patient_info">
        <div class="container mt-1">
            <div class="row">
                <div class="col-12 mb-2">
                    <div class="display-4">Order # {{ cur_order.id }}</div>

                    <div class="h5">Appointment: {{ cur_order.appointment  }}</div>
                    <div class="h6">Status: {{ cur_order.level.name  }}</div>
                    <div class="text-muted small">
                    </div>
                    <hr>
                </div>
                <div class="col-12">
                    <span class="h4">Patient Information</span>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row mt-3">
                        <div class="col-md-4 col-12">
                            <span class="font-weight-bold">First Name:</span><br>
                            {{ cur_order.patient.first_name }}
                        </div>
                        <div class="col-md-4 col-12">
                            <span class="font-weight-bold">Middle Name:</span><br>
                            {{ cur_order.patient.middle_name|default_if_none:'' }}
                        </div>
                        <div class="col-md-4 col-12">
                            <span class="font-weight-bold">Last Name:</span><br>
                            {{ cur_order.patient.last_name }}
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-md-4 col-12">
                            <span class="font-weight-bold">DOB:</span><br>
                            {{ cur_order.patient.birth_date }}
                        </div>
                        <div class="col-md-4 col-12">
                            <span class="font-weight-bold">Phone Number:</span><br>
                            {{ cur_order.patient.phone_number|phone_number }}
                        </div>
                        <div class="col-md-4 col-12">
                            <span class="font-weight-bold">Email Address:</span><br>
                            {{ cur_order.patient.email_info }}
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-12">
                            <hr>
                        </div>
                        <div class="col-md-4 col-12">
                            <span class="font-weight-bold">X-Ray Dye Allergy:</span><br>
                            {{ cur_order.patient.allergy_xraydye|yesno:"Yes,No" }}
                        </div>
                        <div class="col-md-4 col-12">
                            <span class="font-weight-bold">MRI Dye Allergy:</span><br>
                            {{ cur_order.patient.allergy_mridye|yesno:"Yes,No" }}
                        </div>
                        <div class="col-md-4 col-12">
                            <span class="font-weight-bold">Latex Allergy:</span><br>
                            {{ cur_order.patient.allergy_latex|yesno:"Yes,No" }}
                        </div>
                        <div class="col-md-4 col-12">
                            <span class="font-weight-bold">Asthma:</span><br>
                            {{ cur_order.patient.allergy_asthma|yesno:"Yes,No" }}
                        </div>
                        <div class="col-8">
                            <span class="font-weight-bold">Notes:</span><br>
                            {{ cur_order.notes }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end physician section -->

    <!-- order info section -->
    <div id="order_info">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12">
                    <span class="h4">Order Information</span>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-4 col-12">
                    <span class="font-weight-bold">Reason for Visit:</span><br>
                    {{ cur_order.visit_reason }}
                </div>
                <div class="col-md-4 col-12">
                    <span class="font-weight-bold">Imaging Needed:</span><br>
                    {{ cur_order.imaging_needed }}
                </div>
                <div class="col-md-4 col-12">
                    <span class="font-weight-bold">Modality:</span><br>
                    {{ cur_order.modality }}
                </div>
            </div>
        </div>
    </div>
    <!-- end order section -->

    <!-- imaging section -->
    <div class="collapse show" id="imaging_info">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12">
                    <div class="h4">Imaging</div>
                    {% if cur_order.imaged %}
                        <div class="text-muted small mt-2">
                            Imaging completed by {{ cur_order.imaged }} at {{ cur_order.imaged_time }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">File</th>
                            <th scope="col">Timestamp</th>
                            <th scope="col">User</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for image in cur_order.images.all %}
                            <tr>
                                <th scope="row">{{ image.id }}</th>
                                <td>
                                    <a target="_blank" class="orderlink" href="{{ image.image.url }}">
                                        {{ image.label }}
                                    </a>
                                </td>
                                <td>{{ image.added_on }}</td>
                                <td>{{ image.user }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row mt-3">
                {% for image in thumbnails %}
                    <div class="col-md-4 col-12">
                        <img class="img-fluid img-thumbnail" src="{{ image.image.url }}"  alt="{{ image.label }}"/>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- end imaging section -->

    <!-- analysis section -->
    <div class="collapse show" id="order_info">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12">
                    <span class="h4">Analysis Report</span>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-2">
                    {{ cur_order.report }}
                    <br>
                    <div class='text-muted small mt-2'>
                        Completed by {{ cur_order.completed }} on {{ cur_order.completed_time }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end analysis section -->

{% endblock %}

{% block afterscript %}

{% endblock %}

