{% extends 'base/base.html' %}

{% block main %}
    {% load group_auth %}
    <!-- patient info section -->
    <div class="collapse show" id="patient_info">
        <div class="container mt-1">
            <div class="row">
                <div class="col-12 mb-2">
                    <div class="display-4">Order # {{ cur_order.id }}</div>
                </div>
                <div class="col-12">
                    <span class="h4">Patient Information</span>
                    <a href="{% url 'patient' pat_id=cur_order.patient.id %}" class="text-muted small ml-2" data-toggle="tooltip" data-placement="top" title="Link to Patient History">
                        Edit
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row mt-3">
                        <div class="col-4">
                            <span class="font-weight-bold">First Name:</span><br>
                            {{ cur_order.patient.first_name }}
                        </div>
                        <div class="col-4">
                            <span class="font-weight-bold">Middle Name:</span><br>
                            {{ cur_order.patient.middle_name|default_if_none:'' }}
                        </div>
                        <div class="col-4">
                            <span class="font-weight-bold">Last Name:</span><br>
                            {{ cur_order.patient.last_name }}
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-4">
                            <span class="font-weight-bold">DOB:</span><br>
                            {{ cur_order.patient.birth_date }}
                        </div>
                        <div class="col-4">
                            <span class="font-weight-bold">Phone Number:</span><br>
                            {{ cur_order.patient.phone_number }}
                        </div>
                        <div class="col-4">
                            <span class="font-weight-bold">Email Address:</span><br>
                            {{ cur_order.patient.email_info }}
                        </div>
                    </div>
                    {% if show_medical %}
                        <div class="row mt-1">
                            <div class="col-12">
                                <hr>
                            </div>
                            <div class="col-4">
                                <span class="font-weight-bold">X-Ray Dye Allergy:</span><br>
                                {{ cur_order.patient.allergy_xraydye|yesno:"Yes,No" }}
                            </div>
                            <div class="col-4">
                                <span class="font-weight-bold">MRI Dye Allergy:</span><br>
                                {{ cur_order.patient.allergy_mridye|yesno:"Yes,No" }}
                            </div>
                            <div class="col-4">
                                <span class="font-weight-bold">Latex Allergy:</span><br>
                                {{ cur_order.patient.allergy_latex|yesno:"Yes,No" }}
                            </div>
                            <div class="col-4">
                                <span class="font-weight-bold">Asthma:</span><br>
                                {{ cur_order.patient.allergy_asthma|yesno:"Yes,No" }}
                            </div>
                            <div class="col-8">
                                <span class="font-weight-bold">Notes:</span><br>
                                {{ cur_order.notes }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- end physician section -->

    {% if cur_order.level_id < 4 %}
        <!-- edit order info section -->
        <div class="collapse" id="edit_order_info">
            <form id="edit_order_form">
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-12">
                            <span class="h4">Edit Order Information</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="row mt-3">
                                <div class="col-4">
                                    <label class="font-weight-bold">Reason for Visit:</label>
                                    <textarea class="form-control">Broken Left Leg</textarea>
                                </div>
                                <div class="col-4">
                                    <label class="font-weight-bold">Imaging Needed:</label>
                                    <textarea class="form-control">X-Ray of Left Leg Instep & Outstep</textarea>
                                </div>
                                <div class="col-4">
                                    <label class="font-weight-bold">Modality:</label>
                                    <textarea class="form-control">X-Ray of Left Leg Instep & Outstep</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <button type="button" class="btn btn-primary">Save Order Info</button>
                            <button type="button" class="btn btn-outline-secondary" onclick="cancelEditOrder()">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- end edit order section -->
    {% endif %}

    <!-- order info section -->
    <div class="collapse show" id="order_info">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12">
                    <span class="h4">Order Information</span>
                    {% if cur_order.level_id < 4 %}
                        <a href="#" onclick="editOrder()" class="text-muted small ml-2" data-toggle="tooltip" data-placement="top" title="Link to Order Info">
                            Edit
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-4">
                    <span class="font-weight-bold">Reason for Visit:</span><br>
                    {{ cur_order.visit_reason }}
                </div>
                <div class="col-4">
                    <span class="font-weight-bold">Imaging Needed:</span><br>
                    {{ cur_order.imaging_needed }}
                </div>
                <div class="col-4">
                    <span class="font-weight-bold">Modality:</span><br>
                    {{ cur_order.modality }}
                </div>
            </div>
        </div>
    </div>
    <!-- end order section -->

    {% if cur_order.level_id > 1 %}
        <!-- imaging section -->
        <div class="collapse show" id="imaging_info">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-12">
                        <span class="h4">Imaging</span>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">File</th>
                                <th scope="col">Timestamp</th>
                                <th scope="col">User</th>
                                <th scope="col"><i class="fas fa-plus"></i></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for image in cur_order.images.all %} 
                                <tr>
                                    <th scope="row">{{ image.id }}</th>
                                    <td>{{ image.label }}</td>
                                    <td>{{ image.added_on }}</td>
                                    <td>{{ image.user }}</td>
                                    <td><i class="fas fa-trash"></i></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- end order section -->
    {% endif %}

    {% if cur_order.level_id > 2 %}
        <!-- analysis section -->
        <form>
            <div class="collapse show" id="order_info">
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-12">
                            <span class="h4">Analysis Report</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-2">
                            <!-- <textarea rows="7" class="form-control">
                            </textarea> -->
                            {{ cur_order.report }}
                        </div>
                    </div>
                    {% if cur_order.level_id >= 4 and request.user|has_group:"Physicians" %}
                    <div class="row">
                        <div class='col-12 text-right'>
                            <button type="button" class="btn btn-primary" onclick="sendPatientEmail">Send Report</button> 
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </form>
        <!-- end analysis section -->
    {% endif %}



{% endblock %}

{% block afterscript %}
{% load group_auth %}
    {% if cur_order.level_id >= 4 and request.user|has_group:"Physicians" %}
        <script>
            function sendPatientEmail () {
                let orderId = '{{ cur_order.id }}';
                fetch('/order/' + orderId + '/send')
                .then(res => {
                    return res.json()
                })
                .then(json => {
                    console.log(json)
                })
            }
        </script>
    {% endif %}

    <script>
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4'
        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        $(document).ready(function () {
            bsCustomFileInput.init()
        })

        function editOrder() {
            $('#order_info').collapse('hide');
            $('#edit_order_info').collapse('show')
        }

        function cancelEditOrder () {
            $('#order_info').collapse('show');
            $('#edit_order_info').collapse('hide');
            document.getElementById('edit_order_form').reset()
        }
    </script>
{% endblock %}

</body>
</html>
