{% extends 'base/base.html' %}

{% block header %}
    {% load group_auth %}
    <style>
        .orderlink {
            color: black;
        }
        label{
            font-weight: bold;
        }
    </style>

    {{ new_patient_form.media.css }}
{% endblock %}

{% block main %}
    <form method="POST" action="{% url 'new_patient' %}">
        {% csrf_token %}
        <div class="modal fade" id="newPatientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create New Patient</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ new_patient_form.as_p }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save New Patient</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form action="{% url 'patient_lookup' %}" method="POST">
        {% csrf_token %}
        <div class="modal fade" id="new_order" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create New Order</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            Please enter patient's date of birth:
                        </div>
                        <label for="id_patient_lookup" class="font-weight-bold"></label>Date of Birth:
                            {{ patient_lookup.birth_date }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Search Patients</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class='display-4 text-center'>
                    Patient Lookup Table
                </div>
                <div class='lead text-center mb-4'>
                    Searching for {{ date_selected }}
                </div>
                <div class='text-center'>
                    <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#newPatientModal">
                        New Patient
                    </button>
                    <button type="button" data-toggle="modal" data-target="#new_order" class="btn btn-outline-primary mb-2">
                        Alter Search
                    </button>
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col" class="d-none d-md-table-cell">Birth Date</th>
                        <th scope="col" class="d-none d-md-table-cell">Phone Number</th>
                        <th scope="col" class="d-none d-md-table-cell">Email</th>
                        <th scope="col" class="d-none d-md-table-cell text-muted">
                            <i class="fas fa-info"></i>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for patient in patient_list %}
                        <tr>
                            <td>
                                <a class="orderlink" href="{% url 'new_order' pat_id=patient.pk %}">
                                    {{ patient.first_name }}
                                </a>
                                <div class="text-muted small d-md-none">
                                    Birth Date:<br>{{ patient.birth_date }}
                                </div>
                            </td>
                            <td>
                                <a class="orderlink" href="{% url 'new_order' pat_id=patient.pk %}">
                                    {{ patient.last_name }}
                                </a>
                                <div class="d-md-none">
                                    <a class="text-muted small" href="{% url 'patient' pat_id=patient.pk %}">
                                        See more
                                    </a>
                                </div>
                            </td>
                            <td class="d-none d-md-table-cell">{{ patient.birth_date }}</td>
                            <td class="d-none d-md-table-cell">{{ patient.phone_number }}</td>
                            <td class="d-none d-md-table-cell">{{ patient.email_info }}</td>
                            <td class='text-center d-none d-md-table-cell'>
                                <a class="orderlink " href="{% url 'patient' pat_id=patient.pk %}">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr class='text-center'>
                            <th colspan='6'>No patients found.</th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block afterscript %}

    {{ new_patient_form.media.js }}
    <!-- start cleave media -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.5.10/cleave.min.js" integrity="sha256-lqWAcasN+EP6bxH3+SBODfrydkyHQ7FDwcI44sZeff4=" crossorigin="anonymous"></script>
    <script src="https://nosir.github.io/cleave.js/dist/cleave-phone.i18n.js"></script>
    <!-- end cleave media -->

    <script>
        var cleavePhone = new Cleave('.input-phone', {
            phone: true,
            phoneRegionCode: 'US'
        });

        const showModal = '{{ show_modal }}';
        if (showModal === 'True') {
            $('#newPatientModal').modal('show');
        }

        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4'
        });

        $(document).ready(() => {
            $('#id_birth_date').val("{{ date_selected }}")
        })
    </script>
{% endblock %}
