{% extends 'base/base.html' %}

{% block header %}
    {% load group_auth %}
    <style>
        .orderlink { color: black; }
    </style>
{% endblock %}

{% block main %}

    {% if request.user|has_group:"Physicians" or request.user|has_group:"Administrators" %}
    <!-- physician section -->
    <div id="physician_section">
        <div class="modal fade" id="new_order" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create New Order</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            Please enter patient's date of birth:
                        </div>
                        <label for="datepicker" class="font-weight-bold">Date of Birth:</label>
                        <input id="datepicker" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-1">
            <div class="row">
                <div class="col-12 text-center">
                    <button type="button" data-toggle="modal" data-target="#new_order" class="btn btn-primary btn-sm">
                        Create New Order
                    </button>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6 text-center">
                    <div class="mb-3 h5">Active Orders</div>
                    <table class="table table-sm">
                        <thead>
                        <tr>
                            <th>Order #</th>
                            <th>Patient</th>
                            <th>Next Step</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a class="orderlink" href="{% url 'order_prototype' %}">167</a></td>
                            <td><a class="orderlink" href="{% url 'order_prototype' %}">Justin Hart</a></td>
                            <td>Appointment</td>
                        </tr>
                        <tr>
                            <td><a class="orderlink" href="{% url 'order_prototype' %}">152</a></td>
                            <td><a class="orderlink" href="{% url 'order_prototype' %}">Stephen	Oliver</a></td>
                            <td>Analysis</td>
                        </tr>
                        <tr>
                            <td><a class="orderlink" href="{% url 'order_prototype' %}">153</a></td>
                            <td><a class="orderlink" href="{% url 'order_prototype' %}">Jason Lawrence</a></td>
                            <td>Analysis</td>
                        </tr>
                        <tr>
                            <td><a class="orderlink" href="{% url 'order_prototype' %}">143</a></td>
                            <td><a class="orderlink" href="{% url 'order_prototype' %}">Keith Walsh</a></td>
                            <td>Imaging</td>
                        </tr>
                        <tr>
                            <td><a class="orderlink" href="{% url 'order_prototype' %}">144</a></td>
                            <td><a class="orderlink" href="{% url 'order_prototype' %}">Max	Ross</a></td>
                            <td>Imaging</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-6 text-center">
                    <div class="mb-3 h5">Completed Orders</div>
                    <table class="table table-sm">
                        <thead>
                        <tr>
                            <th>Order #</th>
                            <th>Patient</th>
                            <th>Completed</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a class="orderlink" href="{% url 'order_prototype' %}">122</a></td>
                            <td><a class="orderlink" href="{% url 'order_prototype' %}">Mark Sampleperson</a></td>
                            <td>2/9/2020</td>
                        </tr>
                        <tr>
                            <td><a class="orderlink" href="{% url 'order_prototype' %}">128</a></td>
                            <td><a class="orderlink" href="{% url 'order_prototype' %}">Jacob Personton</a></td>
                            <td>2/28/2020</td>
                        </tr>
                        <tr>
                            <td><a class="orderlink" href="{% url 'order_prototype' %}">133</a></td>
                            <td><a class="orderlink" href="{% url 'order_prototype' %}">William Nash</a></td>
                            <td>2/22/2020</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end physician section -->
    {% endif %}


    {% if request.user|has_group:"Receptionists" or request.user|has_group:"Administrators" %}
    <!-- receptionist section -->
    <div class="container mt-1" id="reception_section">
        <div class="row mt-3">
            <div class="col-6 text-center">
                <div class="mb-3 h5">Today's Appointments</div>
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th>Order #</th>
                        <th>Patient</th>
                        <th>Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a class="orderlink" href="{% url 'order_prototype' %}">167</a></td>
                        <td><a class="orderlink" href="{% url 'order_prototype' %}">Justin Hart</a></td>
                        <td>8:30 AM</td>
                    </tr>
                    <tr>
                        <td><a class="orderlink" href="{% url 'order_prototype' %}">152</a></td>
                        <td><a class="orderlink" href="{% url 'order_prototype' %}">Stephen	Oliver</a></td>
                        <td>9:00 AM</td>
                    </tr>
                    <tr>
                        <td><a class="orderlink" href="{% url 'order_prototype' %}">153</a></td>
                        <td><a class="orderlink" href="{% url 'order_prototype' %}">Jason Lawrence</a></td>
                        <td>9:30 AM</td>
                    </tr>
                    <tr>
                        <td><a class="orderlink" href="{% url 'order_prototype' %}">143</a></td>
                        <td><a class="orderlink" href="{% url 'order_prototype' %}">Keith Walsh</a></td>
                        <td>10:00 AM</td>
                    </tr>
                    <tr>
                        <td><a class="orderlink" href="{% url 'order_prototype' %}">144</a></td>
                        <td><a class="orderlink" href="{% url 'order_prototype' %}">Max	Ross</a></td>
                        <td>11:00 AM</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-6 text-center">
                <div class="mb-3 h5">Unscheduled Appointments</div>
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th>Order #</th>
                        <th>Patient</th>
                        <th>Drafted</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a class="orderlink" href="{% url 'order_prototype' %}">122</a></td>
                        <td><a class="orderlink" href="{% url 'order_prototype' %}">Mark Sampleperson</a></td>
                        <td>2/9/2020</td>
                    </tr>
                    <tr>
                        <td><a class="orderlink" href="{% url 'order_prototype' %}">128</a></td>
                        <td><a class="orderlink" href="{% url 'order_prototype' %}">Jacob Personton</a></td>
                        <td>2/28/2020</td>
                    </tr>
                    <tr>
                        <td><a class="orderlink" href="{% url 'order_prototype' %}">133</a></td>
                        <td><a class="orderlink" href="{% url 'order_prototype' %}">William	Nash</a></td>
                        <td>2/22/2020</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- end receptionist section -->
    {% endif %}


    {% if request.user|has_group:"Technicians" or request.user|has_group:"Administrators" %}
    <!-- imaging/prep section -->
    <div class="container mt-1" id="imaging_section">
        <div class="row mt-3">
            <div class="col-3"></div>
            <div class="col-6 text-center">
                <div class="mb-3 h5">Checked In Patients</div>
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th>Order #</th>
                        <th>Patient</th>
                        <th>Drafted</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a class="orderlink" href="{% url 'order_prototype' %}">122</a></td>
                        <td><a class="orderlink" href="{% url 'order_prototype' %}">Mark Sampleperson</a></td>
                        <td>2/9/2020</td>
                    </tr>
                    <tr>
                        <td><a class="orderlink" href="{% url 'order_prototype' %}">128</a></td>
                        <td><a class="orderlink" href="{% url 'order_prototype' %}">Jacob Personton</a></td>
                        <td>2/28/2020</td>
                    </tr>
                    <tr>
                        <td><a class="orderlink" href="{% url 'order_prototype' %}">133</a></td>
                        <td><a class="orderlink" href="{% url 'order_prototype' %}">William	Nash</a></td>
                        <td>2/22/2020</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
    <!-- end imaging/prep section -->
    {% endif %}


    {% if request.user|has_group:"Radiologists" or request.user|has_group:"Administrators" %}
    <!-- analysis section -->
    <div class="container mt-1" id="analysis_section">
        <div class="row mt-3">
            <div class="col-3"></div>
            <div class="col-6 text-center">
                <div class="mb-3 h5">Awaiting Analysis</div>
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th>Order #</th>
                        <th>Patient</th>
                        <th>Completed</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a class="orderlink" href="{% url 'order_prototype' %}">122</a></td>
                        <td><a class="orderlink" href="{% url 'order_prototype' %}">Mark Sampleperson</a></td>
                        <td>2/9/2020</td>
                    </tr>
                    <tr>
                        <td><a class="orderlink" href="{% url 'order_prototype' %}">128</a></td>
                        <td><a class="orderlink" href="{% url 'order_prototype' %}">Jacob Personton</a></td>
                        <td>2/28/2020</td>
                    </tr>
                    <tr>
                        <td><a class="orderlink" href="{% url 'order_prototype' %}">133</a></td>
                        <td><a class="orderlink" href="{% url 'order_prototype' %}">William Nash</a></td>
                        <td>2/22/2020</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
    <!-- end analysis section -->
    {% endif %}

{% endblock %}

{% block afterscript %}
    <script>
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4'
        });
    </script>
{% endblock %}
