{% extends 'base/base.html' %}

{% block header %}
    {% load group_auth %}
    <style>
        .orderlink { color: black; }
    </style>
{% endblock %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="display-4">
                    Patient Information
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="col-6 mt-1">
                        <label>First Name:</label>
                        <input class="form-control" type="text" />
                    </div>
                    <div class="col-6 mt-1">
                        <label>Last Name:</label>
                        <input class="form-control" type="text" />
                    </div>
                    <div class="col-6 mt-1">
                        <label>Date of Birth:</label>
                        <input class="form-control" type="text" />
                    </div>
                    <div class="col-6 mt-1">
                        <label>Phone Number:</label>
                        <input class="form-control" type="text" />
                    </div>
                    <div class="col-6 mt-1">
                        <label>Email:</label>
                        <input class="form-control" type="text" />
                    </div>
                    <div class="col-6 mt-1">
                        <label for="Asthma">Do you have asthma?</label>
                        <select class="form-control" id="asthma">
                            <option>---</option>
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                    <div class="col-4 mt-1">
                        <label for="XrayDye">Are you allergic to Xray dye?</label>
                        <select class="form-control" id="XrayDye">
                            <option>---</option>
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                    <div class="col-4 mt-1">
                        <label for="MRIDye">MRI dye?</label>
                        <select class="form-control" id="MRIDye">
                            <option>---</option>
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                    <div class="col-4 mt-1">
                        <label for="Latex">Latex?</label>
                        <select class="form-control" id="Latex">
                            <option>---</option>
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                    <div class="col-12 mt-1">
                        <label for="textarea">
                            List any Food or Drug allergies you may have, if none, just write none:
                        </label>
                        <textarea class="form-control" id="textarea" rows= "3"></textarea>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <button class="btn btn-primary">Save Patient Info</button>
                        <button class="btn btn-secondary" onclick="window.history.back()">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="h5 mb-2 text-center">
                    Patient Notes
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-warning notes">This is a note</li>
                    <li class="list-group-item notes">This is another note</li>
                    <li class="list-group-item notes">This is a longer note meant to demonstrate wrapping</li>
                </ul>
                <br>
                <div class="mb-3 h5 text-center">Patient Orders</div>
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th>Order #</th>
                        <th>Modality</th>
                        <th>Completed</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a class="orderlink" href="{% url 'order_prototype' %}">122</a></td>
                        <td><a class="orderlink" href="{% url 'order_prototype' %}">MRI</a></td>
                        <td>2/9/2020</td>
                    </tr>
                    <tr>
                        <td><a class="orderlink" href="{% url 'order_prototype' %}">128</a></td>
                        <td><a class="orderlink" href="{% url 'order_prototype' %}">X-Ray</a></td>
                        <td>2/28/2020</td>
                    </tr>
                    <tr>
                        <td><a class="orderlink" href="{% url 'order_prototype' %}">133</a></td>
                        <td><a class="orderlink" href="{% url 'order_prototype' %}">CT Scan</a></td>
                        <td>2/22/2020</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block afterscript %}
    <script>
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4'
        });
    </script>
{% endblock %}
